* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Handlee";
  src: url("../fonts/Handlee-Regular.ttf");
}
.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 2rem;
  padding: 0.125rem;
  font-size: 0.8rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  margin: 12rem;
  width: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(127deg, rgba(82, 160, 166, 0.48), rgba(82, 160, 166, 0.48), rgba(82, 160, 166, 0.48) 65%);
  border-color: rgba(23, 26, 28, 0.1);
  color: rgba(23, 26, 28, 0.1);
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(127deg, rgba(242, 158, 145, 0.76), rgba(23, 26, 28, 0.1), rgba(242, 158, 145, 0.76) 65%);
  border-color: rgba(82, 160, 166, 0.48);
  color: rgba(82, 160, 166, 0.48);
}
.button--remove {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(127deg, darkred, red, darkred 65%);
  border-color: white;
  color: white;
}
.button--disabled {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(127deg, gray, lightgray, gray 65%);
  border-color: white;
  color: white;
}

.card {
  padding: 1vw;
  background-color: beige;
  width: 30%;
  height: 350px;
  flex-wrap: wrap;
  align-content: stretch;
}
.card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  box-shadow: 1px 1px 2px #17191b;
}
.card__title {
  color: #9f2112;
  text-shadow: 1px 1px 2px rgba(23, 26, 28, 0.5);
  padding-top: 0.5vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.card__text {
  padding-top: 0.5vw;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  height: min-content;
}
.card__text--short {
  font-family: "Handlee";
  font-size: small;
}
.card__buttonBox {
  padding-top: 1.5vw;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2vw;
}
.card__price {
  padding-top: 1.5vw;
  display: block;
  text-align: center;
  font-weight: bold;
}
.card__price::before {
  content: "$ ";
}

.slider {
  position: relative;
  height: 20vh;
  width: 300%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300%;
}
.slider__title {
  position: absolute;
  font-size: 3rem;
  font-family: "Dancing Script";
  color: #9f2112;
  text-shadow: 1px 1px 4px white;
  z-index: 2;
}
.slider__image {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: brightness(40%);
  z-index: 1;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

body {
  background: radial-gradient(at 0% 30%, #17191b 10px, #519fa5 20%, #17191b 60%);
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 6vw;
  padding: 0.5vw;
  width: calc(100% - 1vw);
}

.footer {
  grid-area: footer;
  padding: 1vw;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 0px 2px 2px 0px inset rgba(23, 26, 28, 0.8);
}
.footer_text {
  text-align: center;
  font-family: "Handlee", cursive;
  color: white;
}

.header {
  grid-area: header;
  width: 100%;
  height: 10vw;
  position: relative;
}
.header__title {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-shadow: 1px 1px 4px white;
  color: #9f2112;
  position: absolute;
  top: 2vw;
  left: 15vw;
  z-index: 2;
}
.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  z-index: 1;
  border: 2px solid white;
  border-width: 2px 4px;
}

.main {
  grid-area: main;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
  border-radius: 20px;
}
.main .section--products {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.search {
  width: 100%;
  height: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.search--product {
  width: max-content;
  float: left;
}
.search__form {
  padding-left: 1vw;
}
.search__title {
  font-family: "handlee";
  font-weight: bold;
}
.search__box {
  width: 25vw;
  height: 3vw;
  background-color: linear-gradient(#f29e92, #9f2112);
  border-radius: 10px;
}
.search__button {
  background-color: transparent;
  border: transparent;
}
.search__icon {
  font-weight: lighter;
  color: #9f2112;
  font-display: block;
}
.search--newProduct {
  width: fit-content;
  float: right;
}

.navbar {
  position: relative;
  padding-left: 1vw;
}
.navbar__menu {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 10vw;
  z-index: 3;
}
.navbar__item {
  font-family: "Handlee";
  font-weight: bold;
}
.navbar__cart {
  float: right;
}/*# sourceMappingURL=main.css.map */