@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_padding: 0.5vw;

body {
    background: radial-gradient(at 0% 30%, #17191b 10px, #519fa5 20%, #17191b 60%);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 6vw;

    padding: $_padding;
    width: calc(100% - (2*$_padding));
}