@font-face {
    font-family: "Dancing Script";

    // Importante: Se debe tener en cuenta que la carpeta /css
    // debe subir un solo nivel para llegar a la carpeta /fonts
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Handlee";

    // Importante: Se debe tener en cuenta que la carpeta /css
    // debe subir un solo nivel para llegar a la carpeta /fonts
    src: url("../fonts/Handlee-Regular.ttf");
}